.rounded-circle{
    text-align: center;
}

.p1{
    font-size: 2cm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    text-align: center;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    text-align: center;
}

#imageninfraestr{
    width:60%;
    height: 50%;
    align-content: center;
    
}
#logo{
    height: 50px;
}